@charset "UTF-8";
.blue { color: #1fa4e9; }

.bg-blue { background-color: #1fa4e9; }

.gray { color: #b9bcc7; }

.bg-gray { background-color: #b9bcc7; }

.red { color: #fc4444; }

.bg-red { background-color: #fc4444; }

html { font-family: "微软雅黑", "Hiragino Sans GB", "Hiragino Sans GB W3", "宋体", Arial, Helvetica, sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; }

article, aside, details, figcacption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }

audio:not([controls]) { display: none; height: 0; }

[hidden], template { display: none; }

a { background: transparent; text-decoration: none; color: #4A4A4A; }

a:active, a:hover, a:focus { outline: 0; text-decoration: none; color: #1fa4e9; }

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

dfn { font-style: italic; }

mark { background: #ff0; color: #000; }

small { font-size: 80%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

img { border: 0; }

svg:not(:root) { overflow: hidden; }

hr { box-sizing: content-box; height: 0; }

pre { overflow: auto; }

code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }

button, input, optgroup, select, textarea { color: inherit; font: inherit; }

ton { overflow: visible; }

button, select { text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }

button[disabled], html input[disabled] { cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: p; }

input { line-height: normal; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }

input[type="search"] { -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

fieldset { border: 1px solid #c0c0c0; }

textarea { overflow: auto; }

optgroup { font-weight: bold; }

table { border-collapse: collapse; border-spacing: 0; }

body, div, address, blockquote, iframe, ul, ol, dl, dt, dd, li, dl, h1, h2, h3, h4, h5, h6, p, a, pre, table, caption, th, td, form, legend, fieldset, input, button, select, textarea, article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, nav, section, source, video, time { margin: 0; padding: 0; font-weight: normal; font-style: normal; font-size: 100%; font-family: inherit; box-sizing: border-box; text-align: justify; }

body { color: #4A4A4A; background: #f5f5f5; font: 8px; overflow-x: hidden; }

ul, li, ol { list-style: none; line-height: normal; }

i, address, cite, dfn, em, var { font-style: normal; }

.manager-top .right, .manager-top .hd, .page5, .page6-2, .page4, .cf { *zoom: 1; }
.manager-top .right:before, .manager-top .hd:before, .page5:before, .page6-2:before, .page4:before, .manager-top .right:after, .manager-top .hd:after, .page5:after, .page6-2:after, .page4:after, .cf:before, .cf:after { content: ""; display: table; }
.manager-top .right:after, .manager-top .hd:after, .page5:after, .page6-2:after, .page4:after, .cf:after { clear: both; }

input[type=text], input[type=password], select, textarea { border: #4A4A4A 1px solid; outline: none; }
input[type=text]:hover, input[type=password]:hover, select:hover, textarea:hover, input[type=text]:focus, input[type=password]:focus, select:focus, textarea:focus { border-color: #1fa4e9; }

.left, .right { float: left; }

.show { display: block !important; }

.content { width: 1200px; margin-left: auto; margin-right: auto; }

.page5 .item, .page6 .box, .page4 .box { box-shadow: 0 3px 5px 0 #e4e4e4; }

.side-menu1 li.on, .side-menu1 li:hover, .page5 h3 { background: -webkit-linear-gradient(left, #00d2ff 0%, #3a7bd5 100%); background: linear-gradient(to right, #00d2ff 0%, #3a7bd5 100%); }

.btn { height: 30px; line-height: 30px; padding: 0 10px; border-radius: 5px; border: #1fa4e9 1px solid; text-align: center; background-color: #1fa4e9; color: #fff; }
.btn:hover { opacity: .8; color: #fff; }
.btn.btn-blue { background-color: #1fa4e9; border-color: #1fa4e9; }
.btn.btn-gray { background-color: #b9bcc7; border-color: #b9bcc7; }
.btn.btn-red { background-color: #fc4444; border-color: #fc4444; }

input[type=text], input[type=password], select { border: #eee 1px solid; height: 30px; border-radius: 5px; padding: 0 5px; }
input[type=text]:focus, input[type=password]:focus, select:focus { border-color: #1fa4e9; }

input[type=submit]:hover { opacity: .8; }

textarea { height: auto; min-height: 120px; border: #eee 1px solid; border-radius: 5px; padding: 5px; }

.prv-nxt { padding-top: 20px; padding-bottom: 20px; }
.prv-nxt .left { float: left; }
.prv-nxt .right { float: right; }
.prv-nxt a { padding: 0 10px; height: 27px; border: #eee 1px solid; text-align: center; line-height: 27px; font-size: 12px; display: inline-block; margin-right: 5px; }
.prv-nxt a:hover, .prv-nxt .active { background-color: #1fa4e9; color: #fff; border-color: #1fa4e9; }
.prv-nxt .right { font-size: 12px; }

.fullHtml, .fullBody { height: 100%; min-width: 1000px; min-height: 600px; overflow: auto; }

.manager-page { width: 100%; min-width: 1280px; height: 100%; position: relative; padding-top: 62px; }

.manager-top { width: 100%; height: 62px; background-color: #1ca7ea; position: absolute; left: 0; top: 0; background: -webkit-linear-gradient(left, #00d2ff 0%, #3a7bd5 100%); background: linear-gradient(to right, #00d2ff 0%, #3a7bd5 100%); }

.manager-main { width: 100%; height: 100%; position: relative; padding-left: 213px; }
.manager-main.min-left { padding-left: 50px; }
.manager-main.min-left .manager-left { width: 50px; }
.manager-main.min-left .side-menu1 .text, .manager-main.min-left .side-menu1 i { display: none; }
.manager-main.min-left .side-menu1 img { left: 10px; }
.manager-main.min-left .side-menu2 .text { display: none; }
.manager-main.min-left .side-menu2 img { left: 10px; }

.manager-left { width: 213px; height: 100%; background-color: #222d32; position: absolute; left: 0; top: 0; background-color: #ffffff; box-shadow: 1px 0 5px 0 #999; font-size: 15px; }

.manager-right { width: 100%; height: 100%; }

.manager-top .btn-menu { width: 32px; height: 32px; display: block; background: url("../images/btn-menu.png") center center no-repeat; float: left; margin: 12px; }
.manager-top .title { font-size: 32px; line-height: 32px; color: #fff; margin-top: 10px; float: left; }
.manager-top .right { float: right; min-width: 300px; text-align: right; height: 40px; margin-right: 20px; margin-top: 12px; }
.manager-top .btn1, .manager-top .btn2 { width: 40px; height: 40px; padding: 8px; display: block; float: left; position: relative; margin: 0 5px; }
.manager-top .btn1 img, .manager-top .btn2 img { display: block; }
.manager-top .btn1 i, .manager-top .btn2 i { width: 8px; height: 8px; background-color: #FFC418; border-radius: 100%; border: #fff 1px solid; position: absolute; left: 55%; top: 9px; }
.manager-top .user-info { height: 40px; position: relative; float: right; border-radius: 5px; background-color: #fff; }
.manager-top .hd { min-width: 160px; height: 40px; border-radius: 5px; overflow: hidden; background: url("../images/arrow-down.png") 94% center no-repeat #fff; padding: 4px 40px 4px 10px; line-height: 32px; font-size: 14px; cursor: pointer; }
.manager-top .hd span { color: #999; font-size: 12px; margin-left: 10px; }
.manager-top .face { width: 32px; height: 32px; float: left; display: block; overflow: hidden; border-radius: 100%; margin-right: 10px; }
.manager-top .face img { display: block; width: 100%; height: 100%; }
.manager-top .bd { display: none; position: absolute; top: 35px; width: 100%; background-color: #fff; padding-top: 15px; padding-bottom: 10px; z-index: 99; border-radius: 0 0 5px 5px; font-size: 14px; }
.manager-top .bd li { line-height: 32px; padding: 0 15px; }

.side-menu1 { padding-top: 40px; }
.side-menu1 li { line-height: 40px; position: relative; margin-bottom: 10px; padding-left: 60px; height: 40px; }
.side-menu1 li.on .icon1, .side-menu1 li:hover .icon1 { display: none; }
.side-menu1 li.on .icon2, .side-menu1 li:hover .icon2 { display: block; }
.side-menu1 li.on a, .side-menu1 li:hover a { color: #fff; }
.side-menu1 li.on i, .side-menu1 li:hover i { display: block; }
.side-menu1 a { display: block; color: #AFAFAF; }
.side-menu1 img { position: absolute; left: 20px; top: 50%; margin-top: -16px; }
.side-menu1 .icon2 { display: none; }
.side-menu1 i { width: 6px; height: 28px; position: absolute; background-color: #fff; right: 0; top: 50%; margin-top: -14px; display: none; }

.side-menu2 { position: absolute; bottom: 60px; left: 0; width: 100%; }
.side-menu2 li { line-height: 42px; padding-left: 60px; position: relative; height: 42px; }
.side-menu2 img { position: absolute; left: 20px; top: 50%; margin-top: -16px; }
.side-menu2 a { display: block; color: #AFAFAF; }
.side-menu2 a:hover { color: #1fa4e9; }

.page5 { padding: 10px; }
.page5 .item { width: 322px; height: 150px; border-radius: 3px; overflow: hidden; margin: 10px; background-color: #fff; float: left; position: relative; }
.page5 h3 { line-height: 30px; padding: 0 10px; color: #fff; font-size: 16px; }
.page5 .btm { position: absolute; bottom: 0; padding: 10px; line-height: 24px; font-size: 12px; color: #9B9B9B; width: 100%; }
.page5 .status { float: right; min-width: 60px; line-height: 24px; border-radius: 5px; text-align: center; padding: 0 5px; background-color: #F56767; color: #fff; font-size: 14px; }
.page5 .status:hover { opacity: .8; }
.page5 .status.green { background-color: #48D2A0; }
.page5 .con { padding: 10px; font-size: 16px; line-height: 32px; color: #4A4A4A; }
.page5 .con a { color: #4A4A4A; }
.page5 .con span { color: #6E7585; }

.page6 { padding: 10px; }
.page6 .box { background-color: #fff; padding: 0 0 0 20px; }

.page6-1 { padding: 10px; }
.page6-1 .box { padding-bottom: 25px; }
.page6-1 .title { width: 100%; font-size: 12px; color: #A1A3A8; padding: 10px 0 20px 0; position: relative; }
.page6-1 .title h3 { font-size: 18px; color: #4A4A4A; }
.page6-1 .title .more { width: 24px; height: 24px; background: url("../images/more.png") center center no-repeat; position: absolute; right: 0; top: 15px; }
.page6-1 .table { width: 100%; }
.page6-1 .table th { height: 25px; font-size: 13px; color: #6E7585; }
.page6-1 .table td { height: 50px; font-size: 14px; }
.page6-1 .table tr { border-bottom: #eee 1px solid; }

.page6-2 > div { padding: 10px; float: left; }
.page6-2 > div .box { height: 470px; }
.page6-2 .title { line-height: 50px; border-bottom: #eee 1px solid; font-size: 18px; }

.page6-2-left, .page6-2-center { width: 37%; }

.page6-2-right { width: 26%; }

.page6-2-left .list { padding-left: 5px; padding-top: 20px; width: 100%; height: 400px; overflow-x: hidden; overflow-y: scroll; }
.page6-2-left li { padding: 0 20px 26px 10px; position: relative; margin-bottom: -5px; font-size: 12px; color: #9b9b9b; }
.page6-2-left .txt { font-size: 15px; color: #4A4A4A; }
.page6-2-left .c { position: absolute; left: -4px; top: 0; background: url("../images/c.png") center center no-repeat; width: 10px; height: 10px; }
.page6-2-left .line { position: absolute; left: 0; width: 1px; height: 100%; top: 0; background-color: #15B4F1; }
.page6-2-left .time { position: relative; top: -3px; margin-bottom: 5px; }

.page6-2-center .box { position: relative; padding-bottom: 100px; }
.page6-2-center .operate { height: 100px; width: 100%; position: absolute; bottom: 0; left: 0; background-color: #fff; border-top: #eee 1px solid; padding: 10px 20px; }
.page6-2-center input[type=text], .page6-2-center textarea { width: 100%; height: 40px; padding-right: 80px; border: none; font-size: 12px; outline: none; }
.page6-2-center .btn-face, .page6-2-center .btn-send { width: 40px; height: 40px; background: url("../images/icon-face.png") center center no-repeat; position: absolute; top: 10px; }
.page6-2-center .btn-face { right: 50px; }
.page6-2-center .btn-send { right: 10px; background-image: url(../images/send.png); }
.page6-2-center .con { padding: 10px 20px 10px 70px; position: relative; height: 300px; overflow-x: hidden; overflow-y: scroll; }
.page6-2-center .item { border: #ccc 1px solid; margin-bottom: 40px; margin-top: 10px; position: relative; padding: 15px 20px; font-size: 13px; line-height: 20px; color: #6E7585; }
.page6-2-center .item.inline-block { display: inline-block; }
.page6-2-center .face { position: absolute; left: -50px; width: 35px; height: 35px; border-radius: 100%; top: 0; overflow: hidden; }
.page6-2-center .face img { width: 100%; height: 100%; display: block; }
.page6-2-center .time-left, .page6-2-center .time-right { position: absolute; bottom: -40px; line-height: 40px; left: 0; }
.page6-2-center .time-right { left: auto; right: 0; }

.page6-2-right .con { padding-top: 20px; padding-right: 20px; }
.page6-2-right .con img { width: 100%; display: block; margin-bottom: 5px; max-width: 240px; }
.page6-2-right .con p { margin-bottom: 20px; line-height: 24px; color: #6E7585; font-size: 13px; }

.page4 { padding: 10px; }
.page4 .box { background-color: #fff; float: left; margin: 10px; min-height: 350px; min-width: 500px; }
.page4 .title { width: 100%; font-size: 12px; color: #A1A3A8; padding: 10px 10px 25px 10px; position: relative; }
.page4 .title h3 { font-size: 18px; color: #4A4A4A; }
.page4 .title .btn-more, .page4 .title .btn-search, .page4 .title .btn-send { width: 24px; height: 24px; background: url("../images/more.png") center center no-repeat; position: absolute; right: 10px; top: 5px; }
.page4 .title .btn-search { background-image: url(../images/search.png); right: 35px; }
.page4 .title .btn-send { background-image: url(../images/send2.png); right: 35px; }
.page4 .con { padding: 10px; }
.page4 .con > img { display: block; margin: 0 auto; }

.page2 > img { display: block; width: 100%; height: 100%; }

.show { display: block; }

.hide { display: none; }

.alert { display: none; width: 100%; height: 100%; position: fixed; top: 0; left: 0%; z-index: 99; background-color: rgba(0, 0, 0, 0.5); }
.alert .box { position: absolute; left: 50%; top: 50%; background-color: #fff; box-shadow: 3px 8px 15px 0 #666; }
.alert .title { width: 100%; border-bottom: #eee 1px solid; line-height: 50px; font-size: 14px; padding: 0 20px; }
.alert .btn-close { width: 20px; height: 50px; background: url("../images/close.png") center center no-repeat; display: block; float: right; }
.alert .btn-close:hover { opacity: .8; }
.alert .operate { text-align: center; }
.alert .operate a { display: inline-block; width: 100px; }

.overly { display: none; width: 100%; height: 100%; position: fixed; left: 0%; top: 0; z-index: 99; background-color: rgba(0, 0, 0, 0.5); }

.alert-msg .box { width: 430px; height: 200px; margin-left: -215px; margin-top: -100px; }
.alert-msg .con { font-size: 18px; text-align: center; line-height: 30px; padding: 20px; }
.alert-msg .operate { margin-top: 10px; }
.alert-msg .operate a { display: block; margin: 0 auto; }

/* ----------------------------------------------------------------------main-------------------------------------------------------------------- */
